numpy
opencv-python<=4.0.0
scikit-image       # for demo.py
matplotlib         # for demo_video.py
# tensorflow-gpu==2.3.4
tensorflow==2.3.4
efficientnet==0.0.4

# keras h5 to onnx
onnx==1.6.0
# onnx==1.10.2
keras2onnx
tf2onnx
onnxruntime
